#sudo systemctl restart mkprx.service

[Unit]
Description=make_proxy client

[Service]
Environment="MKP_KEY=1234567890abcdef"
Environment="MKP_SERVER=127.0.0.1"
Environment="MKP_IV=bXlJVl9pc18xNl9ieXRlcw=="
WorkingDirectory=/path-of-make-proxy
ExecStart=/path-of-make-proxy/start_make_proxy.sh 
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
