# COPY THIS FILE to /etc/systemd/system
# systemctl daemon-reload
# systemctl restart mkprx.service

[Unit]
Description=make_proxy client
After=network.target

[Service]
User=root
EnvironmentFile=/root/make_proxy/systemd/.env
Environment=LANG=en_US.utf8
WorkingDirectory=/root/make_proxy
ExecStart=/root/make_proxy/_build/prod/rel/make_proxy/bin/make_proxy start
ExecStop=/root/make_proxy/_build/prod/rel/make_proxy/bin/make_proxy stop
KillMode=process
Restart=on-failure
LimitNOFILE=65535
SyslogIdentifier=mkprx

[Install]
WantedBy=multi-user.target
